<div class="container">
  <div class="row">
    <div class="col-4">
    <h1>My Cars</h1>
        <% @cars.each do |car| %>
          <h4>You have registered a <%= car.trademark %> from <%= car.year %> for the price of <%= car.price %> euros/day</h4>
      <% end %>
      </div>
      <div class="col-4">
      <h1>My Cars under rental</h1>
        <ul>
        <% @bookings.each do |booking| %>
          <h4> You have booked a car for the periode <%= link_to booking.start, booking_path(booking) %> <%= link_to booking.end, booking_path(booking) %></h4>
      <% end %>
      </ul>
      </div>
      <div class="col-4">
      <h1>My Personal Bookings</h1>
        <ul>
        <% @bookings.each do |booking| %>
          <h4> You have booked a car for the periode <%= link_to booking.start, booking_path(booking) %> <%= link_to booking.end, booking_path(booking) %></h4>
          <h4> from <%= booking.user_id %></h4>
      <% end %>
      </ul>
      </div>
  </div>
</div>
